body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: linear-gradient(to bottom, #0040FF, #9900FF, #FF00AE, #FF3700, #F6FF00, #BFFF00, #00FFBF);
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #00FFBF;
    border: 1px dashed #00FFBF;
}

.logo {
    width: 50%;
    display: flex;
    align-items: center;
}

.logo img {
    height: 7.5rem;
    margin-right: 1rem;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav li {
    margin: 0 2rem;
}

.nav li a {
    text-decoration: none;
    color: #00FFBF;
}

main {
    position: relative;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    color: #00FFBF;
}

section {
    padding: 6rem;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box img {
    margin: 2rem 0;
}

#drawing {
    color: #00EAFF;
}

#drawing img {
    border: 10px solid #6F00E6;
    box-shadow: 5px 5px 5px black;
}

#painting {
    color: #272FFF;
}

#painting img {
    border: 10px solid #8F03FE;
    box-shadow: 5px 5px 5px black;
}

#photo {
    color: #C90DF8;
}

#photo img {
    border: 10px solid #F5321E;
    box-shadow: 5px 5px 5px black;
}

#events {
    color: #F52D31;
}
.story {
    padding: 2rem 0;
}

#events img {
    border: 10px solid #F8BA0F;
    box-shadow: 5px 5px 5px Black;
}







